<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/psone.css/dist/psone.min.css"> <!--framework de psone-->
    <title>Glosario</title>
    <link rel="stylesheet" href="styles.css"> 
</head>
<body>
    <header>
    <div>
        <h1>
            <u>HASH</u>
        </h1>
    </div>
    <nav>
        <div>
            <ul>
                <li><a href="#primer">Introducción</a></li>
                <li><a href="#segundo">Caracteristicas</a></li>
                <li><a href="#tercero">Aplicaciones del Hash</a></li>
                <li><a href="#cuartote">Algoritmos de Hash más comunes</a></li>
                <li><a href="index.html">Regresar</a></li>
            </ul>
        </div>
    </nav>
</header>
<main id="uno">
    <div id="UNO">
        
    </div>
</main>
</body>
</html>