<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/psone.css/dist/psone.min.css"> <!--framework de psone-->
    <title>Glosario</title>
    <link rel="stylesheet" href="styles.css"> 
</head>
<body>
    <header>
    <div>
        <h1>
            <u>GLOSARIO</u>
        </h1>
    </div>
    <nav>
        <div>
            <ul>
                <li><a href="#primer">Introducción</a></li>
                <li><a href="#segundo">Caracteristicas</a></li>
                <li><a href="#tercero">Aplicaciones del Hash</a></li>
                <li><a href="#cuartote">Algoritmos de Hash más comunes</a></li>
                <li><a href="index.html">Regresar</a></li>
            </ul>
        </div>
    </nav>
</header>
<main id="uno">
    <div id="UNO">
        <ol>
            <li>¿QUE ES UN HASH?</li>
            <ul>
                <li>Un hash es una función matemática que transforma datos de entrada (de cualquier tamaño) en una salida fija de longitud específica, conocida como valor hash o simplemente hash. Esta transformación es unidireccional, lo que significa que no se puede revertir el hash para recuperar el dato original. Los hash son fundamentales en informática y criptografía por varias razones.</li>
            </ul>
            <br>
            <li>¿QUE ES EL MD5?</li>
            <ul>
                <li>es un algoritmo criptográfico de hash diseñado para crear una huella digital o resumen de un mensaje. Fue desarrollado por Ronald Rivest en 1991 y es parte de una familia de algoritmos llamados Message Digest.</li>
            </ul>
            <br>
            <li>¿QUE ES EL SHA-1?</li>
            <ul>
                <li> es un algoritmo criptográfico de hash diseñado para generar un resumen o "huella digital" de una entrada de datos. Fue desarrollado por la Agencia de Seguridad Nacional de los Estados Unidos (NSA) y publicado por el Instituto Nacional de Estándares y Tecnología (NIST) en 1993 como parte de la familia de algoritmos Secure Hash Algorithm (SHA).</li>
            </ul>
            <br>
            <li>¿QUE ES SHA-256?</li>
            <ul>
                <li>es un algoritmo criptográfico de hash que genera una huella digital fija de 256 bits (32 bytes) a partir de una entrada de datos de cualquier tamaño. Forma parte de la familia SHA-2 (Secure Hash Algorithm 2), que fue desarrollada por la Agencia de Seguridad Nacional de los Estados Unidos (NSA) y publicada por el Instituto Nacional de Estándares y Tecnología (NIST) en 2001.</li>
            </ul>
            <br>
            <li>¿QUE ES SHA-512?</li>
            <ul>
                <li> es un algoritmo criptográfico de hash que produce un valor hash fijo de 512 bits (64 bytes) a partir de una entrada de datos de cualquier tamaño. Es parte de la familia SHA-2, desarrollada por la Agencia de Seguridad Nacional (NSA) y publicada por el Instituto Nacional de Estándares y Tecnología (NIST) en 2001.</li>
            </ul>
        </ol>
    </div>
</main>
</body>
</html>